@model BierTier.Models.AppViewModels.FavOrWishBeerViewModel

@{
    ViewData["Title"] = "Search";
}
<!-- Search logic in BeerController.cs -->
<h3 class="findtext">Find a beer.</h3>
<br>

@using (Html.BeginForm())
{
    @Html.TextBox("SearchString")
    <div class="input-group input-group-lg">
        <br>
        <input asp-area="" asp-controller="Beer" asp-action="Search" type="submit" class="btn btn-info btn-lg" value="Search" />
    </div>
}
<br>

@if(Model.Beers.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                    <th>
                        Name
                    </th>
                    <th>
                        Brewery
                    </th>
                    <th>
                        Type
                    </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Beers) 
        {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" img class="img-responsive" height=150 width=100/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brewery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <p><a asp-action="Details" asp-route-id="@item.BeerId" class="btn btn-primary btn-md resultsbutton">Details</a></p>
            </td>
            <td>
            <form asp-controller="Beer" asp-action="SaveBeer" method="post">
                <input type="hidden" asp-for="@Model.BeerToSaveId" value="@item.BeerId" />
                <input type="submit"  asp-for="@Model.BeerChoice" value="Add to Favorites" class="btn btn-primary addbuttons">
                <input type="submit"  asp-for="@Model.BeerChoice" value="Add to Wishlist" class="btn btn-primary addbuttons">
            </form>
            <form asp-controller="Beer" asp-action="RecommendBeer" method="post">
                <input type="hidden" name="recommendString" value="@item.Type" />
                <input type="submit" value="See Similar Beers!" class="btn btn-primary similarbutton">
            </form>
            </td>
        </tr> 
        }
    </tbody>
</table>
}

else
{
    <h4>No matching beers found.</h4>
}
